.main-container {
  .container {
    .content_block {
      background-color: #d8d8c726;
      padding-top: 60px;
      .submit_btn {
          display: flex;
          justify-content: center;
          padding: 20px 0px 30px 0px;
          button {
              padding: 5px 10px;
          }
      }
    }
    .btn_block {
      float: right;
      padding-top: 20px
    }
    .products_view {
      padding-top: 40px
    }
  }
}
.hide {
  display: none;
}
