<div class="main-container">
  <div class="container">
    <div class="btn_block">
      <button class="btn btn-success add_btn" (click)="addProduct()" *ngIf="!backBtn">Add Product</button>
      <button class="btn btn-success add_btn" (click)="gotoProduct()" *ngIf="backBtn">Back</button>
    </div>
    <div class="content_block" *ngIf="isEdit">
      <form action="" method="post" [formGroup]="addProductForm">
        <div class="row m-0">
          <ng-container *ngFor="let item of inputFields; let i = index">
            <div class="col-6">
              <div class="form-group">
                <label for="{{item?.caption}}" [ngClass]="{'hide': item.name === 'id'}">{{item.caption}}</label>
                <input type="{{item?.type}}" [formControlName]="[item.name]" [ngClass]="{'hide': item.name === 'id'}">
                <span
                  *ngIf="addProductForm.controls[item.name].touched && addProductForm.controls[item.name].errors?.required">{{item.validationMessage}}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </form>
      <div class="submit_btn">
        <button class="btn btn-success align-middle" (click)="submitaddProductForm()"
          [disabled]="addProductForm.invalid">{{button_text}}</button>
        <button class="btn btn-success align-middle" (click)="gotoProduct()">Cancel</button>
      </div>
    </div>
    <div class="products_view" *ngIf="!isEdit">
      <h3>Products List</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Height</th>
            <th scope="col">Width</th>
            <th scope="col">Is smart</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productList">
            <th scope="row">{{product.name}}</th>
            <td>{{product.description}}</td>
            <td>{{product.height}}</td>
            <td>{{product.width}}</td>
            <td *ngIf="product.is_smart === 'true' || product.is_smart === '1'">Yes</td>
            <td *ngIf="product.is_smart === 'false' || product.is_smart === '0'">No</td>
            <td (click)="editProduct(product)">Edit</td>
            <td (click)="getProductById(product.id)">View</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="product" *ngIf="isProduct && !isEdit">
      <button (click)="gotoProduct()">Back to products</button>
      <ng-container *ngFor="let item of product">
        <p>Name: {{item.name}}</p>
        <p>Description: {{item.description}}</p>
        <p>Height: {{item.name}}</p>
        <p>Width: {{item.name}}</p>
        <p *ngIf="item.is_smart === 'true' || product.is_smart === '1'">Is smart: Yes</p>
        <p *ngIf="item.is_smart === 'false' || product.is_smart === '0'">Is smart:No</p>
      </ng-container>
    </div> -->
  </div>
</div>
