  <h3><u>Product View:</u></h3>
  <ng-container *ngFor="let item of data">
        <p>Product Name: {{item.name}}</p>
        <p>Product Description: {{item.description}}</p>
        <p>Product Height: {{item.name}}</p>
        <p>Product Width: {{item.name}}</p>
        <p *ngIf="item.is_smart === 'true' || product?.is_smart === '1'">Is smart: Yes</p>
        <p *ngIf="item.is_smart === 'false' || product?.is_smart === '0'">Is smart:No</p>
      </ng-container>
